body {
    background-image: url("background-pics/star-wars-stars.jpg");
    background-size:contain;
    background-position:center;
    color: rgb(252, 249, 72);
}

#dropDownText {
    text-align: center;
}

#forceSubmit {
    color: rgb(40, 93, 161);
}

#deathGripReset{
    color: red;
}

.characterPic {
    color: black;
}

img {
    width: 85px;
    height: 85px;
}
tbody {
    color: black;
    background-color: aliceblue;
}
i {
    margin-left: 10px;
} 

